*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: powderblue;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;  
}

.calculator{    
    background-color: #f7f7f7;
    border-radius: 10px;
    width: 400px;
}

.calculator-display{
    background-color: #2e2e2e;    
    border-radius: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;


}

.calculator-display .display-design{
    background-color: #2e2e2e;
    color:#ffffff;
    letter-spacing: 2px;  
    font-family: 'Lucida Console',sans-serif;  
    overflow-x: auto;
    padding: 15px;
    height: 100px;
    width: 100%;
    font-size: 2rem;
    text-align: right;
    border-radius: 10px 10px 0px 0px;
}



/* custome scroll bar */
::-webkit-scrollbar {
    width: 4px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;       

  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .calculator-buttons{
    display:grid;
    grid-template-columns: repeat(3,4fr);
    grid-gap: 10px;
    padding: 10px;    
}
/* .equal-sign{
    grid-column: -2;
    grid-row :1 /span 6;
} */

button{
    min-height:50px;
    font-size: 20px;
    font-weight: 100;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ccc;
    transition: all .2s linear;
}
button:hover{
    filter:brightness(110%)
}
button:active{
  transform: translateY(2px);
}

.equal-sign{
    background-color: rgb(57, 204, 118);
}
.clear{
    background-color: rgb(204, 57, 57);
}
.delete{
    background-color: rgb(204, 182, 57);
}